<tui-root class="layout-wrapper layout-light">
  <header class="layout-topbar" [class.layout-topbar-sticky]="stickyHeader">
    <div class="layout-topbar-inner">
      <button
        tuiButton
        type="button"
        appearance=""
        size="m"
        shape="rounded"
        [routerLink]="'/'"
      >
        <h1 style="font-family: cursive;">{{ title }}</h1>
      </button>
      <div class="d-flex">
        <button
          tuiButton
          type="button"
          appearance=""
          [icon]="'tuiIconPlusLarge'"
          size="m"
          shape="rounded"
          [routerLink]="'/recipe/constructor'"
        >
          <span style="font-family: cursive;">Новый рецепт</span>
        </button>
        <button
          *ngIf="!this.currentUserInfo"
          tuiButton
          type="button"
          appearance=""
          [icon]="'tuiIconLogInLarge'"
          size="m"
          shape="rounded"
          (click)="openLoginForm(loginFormTemplate)"
        >
          <span style="font-family: cursive;">Войти</span>
        </button>
        <button
          *ngIf="this.currentUserInfo"
          tuiButton
          type="button"
          appearance=""
          [icon]="'tuiIconLogOutLarge'"
          size="m"
          shape="rounded"
          (click)="logout()"
        >
          <span style="font-family: cursive;">Выйти</span>
        </button>
      </div>
    </div>
  </header>
  <main class="layout-content">
    <router-outlet/>
  </main>
</tui-root>

<ng-template let-observer #loginFormTemplate>
  <!-- <h3 сlass="tui-form__header tui-form__header_margin-top_none">Регистрация</h3> -->
  <tui-tabs [(activeItemIndex)]="tabIndex" class="tui-space_bottom-5">
    <button
      tuiTab
      (click)="this.tabIndex = 0"
    >
      Авторизация
    </button>
    <button
      tuiTab
      (click)="this.tabIndex = 1"
    >
      Регистрация
    </button>
  </tui-tabs>
  <form
    *ngIf="this.tabIndex === 0"
    [formGroup]="signInForm"
  >
    <div class="tui-form__row">
      <tui-input
        formControlName="email"
        tuiTextfieldIcon="tuiIconAtSignLarge"
      >
        Email
        <input
          placeholder="Введите адрес электронной почты"
          tuiTextfield
          type="email"
          autocomplete="email"
        />
        <span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-input-password
        formControlName="password"
      >
        Пароль
        <input
          placeholder=""
          tuiTextfield
          type="password"
          autocomplete="current-password"
        />
        <span class="tui-required"></span>
      </tui-input-password>
    </div>
    <div class="tui-form__buttons tui-form__buttons_align_end">
      <button
        appearance="flat"
        size="m"
        tuiButton
        type="button"
        class="tui-form__button"
        (click)="closeLoginForm()"
      >
        Отмена
      </button>
      <button
        size="m"
        tuiButton
        type="submit"
        class="tui-form__button"
        (click)="signIn()"
      >
        Отправить
      </button>
    </div>
  </form>
  <form
    *ngIf="this.tabIndex === 1"
    [formGroup]="signUpForm"
  >
    <div class="tui-form__row">
      <tui-input
        formControlName="username"
      >
        Имя пользователя 
        <input
          tuiTextfield
          type="text"
          autocomplete="name"
        />
        <span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-input
        formControlName="email"
        tuiTextfieldIcon="tuiIconAtSignLarge"
      >
        Email
        <input
          placeholder="Введите адрес электронной почты"
          tuiTextfield
          type="email"
          autocomplete="email"
        />
        <span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-input-password
        formControlName="password"
      >
        Пароль
        <input
          placeholder=""
          tuiTextfield
          type="password"
          autocomplete="new-password"
        />
        <span class="tui-required"></span>
      </tui-input-password>
    </div>
    <div class="tui-form__buttons tui-form__buttons_align_end">
      <button
        appearance="flat"
        size="m"
        tuiButton
        type="button"
        class="tui-form__button"
        (click)="closeLoginForm()"
      >
        Отмена
      </button>
      <button
        size="m"
        tuiButton
        type="submit"
        class="tui-form__button"
        (click)="signUp()"
      >
        Отправить
      </button>
    </div>
  </form>
</ng-template>